*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family:"Red Hat Display", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.1em;
}

p {
    letter-spacing: 0.05em;
}

.bi {
    font-size: 1.25rem;

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }
}



//font type usage
//heading
.heading {
    letter-spacing: 0.04em;
    font-weight: 900;
    line-height: 1.2;
    &-H1 {
        font-size: 3rem;
    }
    &-H2 {
        font-size: 2.5rem;
    }
    &-H3 {
        font-size: 2rem;
    }
    &-H4 {
        font-size: 1.75rem;
    }
    &-H5 {
        font-size: 1.5rem;
    }
    &-H6 {
        font-size: 1.25rem;
    }
}

//title
.title-M {
    &-CH {
        font-size: 1.125rem;
        letter-spacing: 0.04em;
        font-weight: 700;
    }
    &-EN {
        font-size: 1.125rem;
        letter-spacing: 0.04em;
        font-weight: 800;
    }
}

.title-S {
    &-CH {
        font-size: 1rem;
        letter-spacing: 0.04em;
        font-weight: 700;
    }
    &-EN {
        font-size: 1rem;
        letter-spacing: 0.04em;
        font-weight: 800;
    }
}

.subtitle {
    &-CH {
        font-size: 0.875rem;
        letter-spacing: 0.04em;
        font-weight: 700;
    }
    &-EN {
        font-size: 0.875rem;
        letter-spacing: 0.04em;
        font-weight: 800;
    }
}

//body
.body {
    letter-spacing: 0.04em;
    font-weight: 500;
    &-L {
        font-size: 1.125rem;
    }

    &-M {
        font-size: 1rem;
    }

    &-S {
        font-size: 0.875rem;
    }
}

//caption
.caption {
    font-size: 0.75rem;
    letter-spacing: 0.04em;
    font-weight: 500;
}