<footer class="bg-light py-3">
  <div class="container text-center">
    <img src="..//assets/images/Logo.png" alt="Logo" class="mb-3" />
    <div class="mb-2">
      <a href="#" class="text-dark mx-2">隱私權政策</a>
      <span class="text-muted">✦</span>
      <a href="#" class="text-dark mx-2">會員條款</a>
      <span class="text-muted">✦</span>
      <a href="#" class="text-dark mx-2">退換貨條款</a>
    </div>
    <a href="#" class="text-danger">
      <i class="bi bi-arrow-up-circle"></i>
    </a>
  </div>
</footer>
