<footer class="footer bg-primary-300 ">
    <div class="bg-neutral-50 w-auto py-5 py-lg-7 rounded-bottom-pill"></div>
    <div class="container-fluid px-lg-10">
        <div class="text-center pt-7 pb-5 pt-lg-9 pb-lg-7">
            <a class="mb-3 mb-lg-12" href="#">
                <img src="../assets/images/Logo.svg" alt="logo" class="footerBrandSize">
            </a>
            <div>
                <ul class="d-flex justify-content-center align-items-center list-unstyled gap-1 gap-lg-0 mb-0 footerListColor">
                    <li>
                        <a href="#" class="footerListFontSize p-11 px-lg-3 py-lg-2">隱私權政策</a>
                    </li>
                    <li>
                        <img src="../assets/images/Star.svg" alt="star" class="starColor d-block" width="8px">
                    </li>
                    <li>
                        <a href="#" class="footerListFontSize p-11 px-lg-3 py-lg-2">會員條款</a>
                    </li>
                    <li>
                        <img src="../assets/images/Star.svg" alt="star" class="starColor d-block" width="8px">
                    </li>
                    <li>
                        <a href="#" class="footerListFontSize p-11 px-lg-3 py-lg-2">退換貨條款</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-top border-primary-400"></div>

    <div class="container-fluid px-lg-10">
        <div class="text-center py-5">
            <ul class="d-flex flex-column flex-lg-row justify-content-lg-between list-unstyled text-primary-700 gap-3 mb-0">
                <li class="footerCopyRightSize">
                    五角占卜 &copy; 2024 All rights reserved.
                </li>
                <li class="footerCopyRightSize">
                    *此網站僅供學習使用，不會作為商業用途
                </li>
            </ul>
        </div>
    </div>

    

</footer>