<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>卡組介紹</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="container-fluid">
        <section class="banner pageMT bg-primary rounded">
            <div class="">
                <h3>解決內心疑問，轉動命運之輪</h3>
                <img src="" alt="">
            </div>
        </section>

    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>